<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
        <h2>1. 访问 <a th:href="@{/admin}">Admin 页面 (Spring Security 保护, 需要 Admin 权限)</a></h2>
        <h2>2. 访问 <a th:href="@{/user}">User 页面 (Spring Security 保护, 需要 User 权限)</a></h2>
        <h2>3. 访问 <a th:href="@{/about}">正常页面</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>